<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>

        #success_message {
            display: none;
        }
    </style>


</head>
<body>
<div class="container">

    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend>
                <center><h2><b>Registration Form</b></h2></center>
            </legend>
            <br>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h3 class="lead">NAME:</h3></div>
                            <div class="col-md-8"><input id="Full Name" name="name"
                                                         placeholder="{{ d["name"] }}"
                                                         class="form-control" type="text" required="required" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h3 class="lead">Email:</h3></div>
                            <div class="col-md-8"><input type="email" class="form-control" id="inputEmail4"
                                                         placeholder="{{ d["email"] }}" name="email" readonly></div>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h3 class="lead">Contact.No:</h3></div>
                            <div class="col-md-8"><input id="Mobile No." name="no" placeholder="{{ d["mob-no"] }}"
                                                         class="form-control" required="required" type="text" readonly>
                            </div>
                        </div>


                    </div>
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h3 class="lead">Role:</h3></div>
                            <div class="col-md-8"><input id="role" name="Rolr" placeholder="{{ d["role"] }}" class="form-control"
                                                         required="required" type="text" readonly></div>
                        </div>

                    </div>

                    <div class="form-group col-md-12" id="t">
                        <textarea id="comment" name="comment" placeholder="{{ d["comment"] }}" cols="40" rows="5"
                                  class="form-control" class="lead" readonly></textarea>
                    </div>
                </div>

            </form>

        </fieldset>
    </form>
</div>
</div><!-- /.container -->
</body>
</html>